
$primary:       #05386b !default;
$secondary:     #5cdb95 !default;
$tertiary:      #8ee4af !default;
$accent:        #edf5e1 !default;
$accent2:        #379683 !default;
$success:       #28a745 !default;
$info:          #17a2b8 !default;
$warning:       #ffc107 !default;
$danger:        #dc3545 !default;
